<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <h1>Registration</h1>
    <form id="reg-form">
      <input type="text" placeholder="Username" id="Username" />
      <input type="password" placeholder="Password" id="Password" />
      <input type="submit" value="Register" />
    </form>
  </body>

  <script>
    const form = document.getElementById("reg-form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const username = document.getElementById("Username").value;
      const password = document.getElementById("Password").value;

      const result = await fetch("/user/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username,
          password,
        }),
      }).then((res) => res.json());
      if (result.status === "ok") {
        alert("success");
      } else {
        alert("result.error");
      }
    });
  </script>
</html>
